{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block extra_meta %}

  <meta name="description" content="{{ article.summary|striptags }}">

  {% if PELICAN_SOBER_TWITTER_CARD_CREATOR or PELICAN_SOBER_TWITTER_CARD_SITE %}
	<meta name="twitter:card" content="summary">
	{% if PELICAN_SOBER_TWITTER_CARD_SITE %}
	  <meta name="twitter:site" content="@{{ PELICAN_SOBER_TWITTER_CARD_SITE }}">
	{% endif %}
	{% if PELICAN_SOBER_TWITTER_CARD_CREATOR %}
	  <meta name="twitter:creator" content="@{{ PELICAN_SOBER_TWITTER_CARD_CREATOR }}">
	{% endif %}
	<meta name="twitter:title" content="{{ article.title }}">
	<meta name="twitter:description" content="{{ article.summary|striptags }}">
	<meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
{% endif %}

{% endblock %}


{% block content %}
	<article class="full">
		
		<h1>{{ article.title }}</h1>
		
		{% include 'metadata.inc.html' %}
		
		{{ article.content }}	

	</article>

{% endblock %}
