{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

<blockquote>
  <p>
    Without real experience in using the computer to get useful
    results the computer science major is apt to know all about the
    marvellous tool except how to use it. Such a person is a mere
    technician, skilled in manipulating the tool but with little sense
    of how and when to use it for its basic purposes.
  </p>
<footer>
— <cite>Richard Hamming, 1968 Turing Award Lecture</cite>
</footer>
</blockquote>

{% for article in articles %}

  <div>
    <h3>Recent posts</h3>
    <ul class="archive">
         
    {% if loop.index < 7 %}
      <li>
        {% include 'article_link.inc.html' %}
      </li>
    {% endif %}

{% endfor %}

    </ol>
  </div>

{% endblock content %}
